<!DOCTYPE html>
<html lang="eng">

<head>
    <title>Election Card HTML</title>
    <!-- bootstrap css cdn -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Local css  -->
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body" style="height: 575px; width: 500px; margin-top: 120px;">
                <h1>Election Card</h1>
                <form action="/request/election/{{user_id}}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="Input1" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="Input1" placeholder="Your Name" name="fullname">
                    </div>
                    <div class="mb-3">
                        <label for="Input2" class="form-label">Father's Name</label>
                        <input type="text" class="form-control" id="Input2" placeholder="Your Name" name="f_name">
                    </div>
                    <div class="mb-3">
                        <label for="Input3" class="form-label">Select Gender</label>
                        <select class="form-select" aria-label="Default select example" id="Input3" name="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Input3" class="form-label">DOB</label>
                        <input type="date" class="form-control" id="Input3" name="dob">
                    </div>

                    <!-- <div class="mb-3">
                        <label for="imageuplode">Choose an image to uplode:</label>
                        <input type="file" name="image" id="imageuplode" accept="image/*">
                    </div> -->
                    <div class="mb-3">
                        <label for="imageuplode">Choose an image to upload:</label>
                        <!-- Image path selection from static folder -->
                        <input type="text" name="image" id="imageuplode" value="/static/images/download.jpg">
                    </div>
                    <div style="text-align: center;">
                        <input type="submit" class="btn btn-primary" value="Reqest a Card">
                    </div>

                </form>
            </div>

        </div>
    </div>
</body>

</html>